body {
    background-color: rgb(175, 175, 189);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: left;
}

.Tekst-container
{padding: 10px }

header {
    background-color: rgb(13, 13, 13);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold; }

.third-level-menu
    {
       position: absolute;
       top: 0;
       right: -150px;
       width: 150px;
       list-style: none;
       padding: 0;
       margin: 0;
       display: none;
    }
    
    
.third-level-menu > li
    {
       height: 30px;
       background: #999999;
    }
.third-level-menu > li:hover { background: #CCCCCC; }
    
    
.second-level-menu
    {
       position: absolute;
       top: 30px;
       left: 0;
       width: 150px;
       list-style: none;
       padding: 0;
       margin: 0;
       display: none;
    }
    
    
.second-level-menu > li
    {
       position: relative;
       height: 30px;
       background: #999999;
    }
.second-level-menu > li:hover { background: #CCCCCC; }
    
    
.top-level-menu
    {
       list-style: none;
       padding: 0;
       margin: 0;
    }
    
    
.top-level-menu > li
    {
       position: relative;
       float: left;
       height: 30px;
       width: 150px;
       background: #616465;
    }
.top-level-menu > li:hover { background: #616465; }
    
    
.top-level-menu li:hover > ul
    {
       /* On hover, display the next level's menu */
       display: inline;
    }
    
    
    
    
    /* Menu Link Styles */
    
    
 .top-level-menu a /* Apply to all links inside the multi-level menu */
    {
       font: bold 14px Arial, Helvetica, sans-serif;
       color: #FFFFFF;
       text-decoration: none;
       padding: 0 0 0 10px;
    
    
       /* Make the link cover the entire list item-container */
       display: block;
       line-height: 30px;
    }
.top-level-menu a:hover { color: #000000; }
    